@model Manuel_SoftwareDeveloperTest.Models.Employees

<h1>Employees</h1>

@using (Html.BeginForm("Search", "Employees", FormMethod.Post))
{
    <div class="input-group mb-3">
        <input type="number" name="employeeId" placeholder="Search by ID" class="form-control" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Age</th>
            <th>Profile Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.data)
        {
            <tr>
                <td>@employee.id</td>
                <td>@employee.employee_name</td>
                <td>@employee.employee_salary</td>
                <td>@employee.employee_age</td>
                <td><img src="@employee.profile_image" /></td>
            </tr>
        }
    </tbody>
</table>
